@tailwind base;
@tailwind components;
@tailwind utilities;

.App{
  display: flex;

}
.body{
  padding: 20px;
  background-color:rgb(172, 247, 233);
  width: 100%;
  overflow: hidden;
  position: relative;
}
.flex{
  display: flex;
}

/* /Control Paymant */
.box{
  margin-top: 25px;
  width: 100%;
  height: max-content;
  border: 1px solid rgba(211, 208, 208, 0.1);
  border-radius: 10px;
  background-color: rgb(255, 255, 255);
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.35);
  
}
.blockControl{
  margin: 20px;
  flex: 1;
}
.bodyControl{
  display: flex;
  width: 100%;
  
  
}
.boxHeader{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.boxBody{
  background-color: rgba(172, 247, 233, 0.305);
  width: 100%;
  height: fit-content;
  padding: 10px;
  border-radius: 10px;
}
.boxEnd{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
.boxEndIcon{
  display: flex;
  justify-content: space-between;
  width: 50px;
}
.icon{
  transition: transform 500ms ease;
}
.icon:hover{
  color: rgb(115, 166, 159);
  transform: scale(1.2);

}
b{
  color:rgba(36, 169, 151, 0.775);
}
h1{
  text-align: center;
}
.blockControlHeader{
 font-size: 24px;
 font-weight: 900;
  border-radius: 20px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.blockControlHeader_icon{
  margin-left: 10px;
  margin-top: 5px;
  color: #218b9e;
  width: 30px;
  height: 30px;
  transition: transform 500ms ease;
}
.blockControlHeader_icon:hover{
  transform: scale(1.05);
  background-color:#218b9e;
  color: rgb(172, 247, 233);
}

.scroll{
  overflow-y: visible;
}


.boxInfo{
  background-color: #f4fefe;
  margin-top: 20px;
  padding: 15px;
  border-radius: 10px;
  width: 100%;
  height: max-content
  ;box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.35);
  -webkit-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.35);
  -moz-box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.35);
}
.bodyInfo{
  display: flex;
  width: 100%;
  
}
.boxBodyInfo{
  background-color: rgba(172, 247, 233, 0.305);
  width: 100%;
  height: max-content;
  padding: 10px;
  border-radius: 10px;
  flex-wrap: wrap;
}
.blockInfo{
  display: flex;
  flex-direction: column;
  width: 95%;
  margin: 0 auto;
}
.blockInfoHeader{
  display: flex;
    justify-content: center;
    align-items: center;
  font-size: 24px;
  font-weight: 900;
  height: 50px;
  border-radius: 10px;
  padding: 13px;
  display: flex;
}
.form{
  margin-left: 5%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.formInp{
  margin-bottom: 20px;
  height: 30px;
  border-radius: 10px;
  padding: 5px;
  width: 250px;
}
.formInp2{
  margin-bottom: 20px;
  height: 90px;
  width: 250px;
  border-radius: 10px;
  padding: 5px;
}


.bodyNoShow{
  display: grid;
  grid-auto-flow:column;
  margin: 5px 5px 20px 5px;
  background-color: rgba(172, 247, 233, 0.305);
  border-radius: 15px;
  padding: 5px;
  
}
.bodyNoShowInfo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.infoButton{
  background-color: rgba(126, 205, 190, 0.896);
  width: 150px;
  height: 40px;
  border-radius: 10px;
  color: white;
}

.sidebar_new {
    width: 300px;
}

.bodyInfoRow {
    width: 100%;
    height: calc(100vh - 100px);
    overflow-y: scroll;
}

.bodyInfoRow::-webkit-scrollbar {
    width: 0;
}

.TodoMenu {
    position: fixed;
    right: -100%;
    top: 0;
    height: 100vh;
    width: 30vw;
    background-color: white;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    border-left: solid 1px #e9e9e9;
}

.TodoMenu_row {
    padding:5px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    position: relative;
}
.arrowRight{
  position: absolute;
  left: -2px;
  top: 12px;
  background-color: #F9FAFB;
  width: 25px;
  height: 25px;
  border-radius: 5px;
  
}
.arrowRight:hover{
  background-color: #eaeaea;
  
  
}
.TodoMenu_name span {
  font-size: 30px;
  font-weight: 700;
  
}
.TodoMenu_name{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 70%;
}
.TodoMenu_list {
    width: 100%;
}

.TodoMenu_list_line {
    width: 100%;
    display: flex;
    align-items: center;
}
.headerTextMenu{
  font-size: 24px;
  font-weight: 700;
  margin-left: 8%;
}
.textMenu{
  font-size: 24px;
  margin-left:1%;
}
.divInput{
  padding: 10px;
  border-bottom:solid 1px #bbbfbf;
  width: 100%;
}
input{
  width: 100%;
  outline: none;
}
.TodoMenu_row_text{
  color: #bbbfbf;
}
.TodoMenu_row_text_secondBlock{
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
  
}